{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <nav class="navbar">
                <a href="/" class="nav-link">
                    <span class="animate_letters">[ky.org]</span>
                </a>
                <a href="{{ url_for('cv') }}" class="nav-link">
                    <span class="animate_letters">[cv]</span>
                </a>
                <a href="{{ url_for('books') }}" class="nav-link">
                    <span class="animate_letters">[books]</span>
                </a>
                <a href="{{ url_for('posts') }}" class="nav-link">
                    <span class="animate_letters">[posts]</span>
                </a>
                <a href="{{ url_for('lists') }}" class="nav-link">
                    <span class="animate_letters">[lists]</span>
                </a>
            </nav>
            <h1 class="books-section-name"><span class="animate_letters">Bookshelf</span></h1>
            <select class="books-filter">
                <option value="Date Read">Date Read</option>
                <option value="Author (A-Z)">Author (A-Z)</option>
                <option value="Title (A-Z)">Title (A-Z)</option>
            </select>
            <div class="books">
                {% for book in books %}
                <div class="book">
                    <a href="{{ book['id'] }}" class="book-link">
                        <img src="{{ url_for('static', filename='images/'+book['image']) }}" alt="1984" class="book-image">
                        <h2 class="book-name book-desc">{{ book["name"] }}</h2>
                        <h2 class="book-author book-desc">{{ book["author"] }}</h2>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}