{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <nav class="navbar">
                <a href="/" class="nav-link">
                    <span class="animate_letters">[ky.org]</span>
                </a>
                <a href="{{ url_for('cv') }}" class="nav-link">
                    <span class="animate_letters">[cv]</span>
                </a>
                <a href="{{ url_for('books') }}" class="nav-link">
                    <span class="animate_letters">[books]</span>
                </a>
                <a href="{{ url_for('posts') }}" class="nav-link">
                    <span class="animate_letters">[posts]</span>
                </a>
                <a href="{{ url_for('lists') }}" class="nav-link">
                    <span class="animate_letters">[lists]</span>
                </a>
            </nav>
            <h1 class="books-section-name"><span class="animate_letters">Bookshelf</span></h1>
            <select class="books-filter">
                <option value="Date Read">Date Read</option>
                <option value="Author (A-Z)">Author (A-Z)</option>
                <option value="Title (A-Z)">Title (A-Z)</option>
            </select>
            <div class="books">
                <div class="book">
                    <a href="" class="book-link">
                        <img src="{{ url_for('static', filename='images/1984.jpg') }}" alt="1984" class="book-image">
                        <h2 class="book-name book-desc">1984</h2>
                        <h2 class="book-author book-desc">George Orwell</h2>
                    </a>
                </div>
                <div class="book">
                    <a href="" class="book-link">
                        <img src="{{ url_for('static', filename='images/thecount.jpg') }}" alt="The Count of Monte Cristo" class="book-image">
                        <h2 class="book-name book-desc">The Count of Monte Cristo</h2>
                        <h2 class="book-author book-desc">Alexandre Dumas</h2>
                    </a>
                </div>
                <div class="book">
                    <a href="" class="book-link">
                        <img src="{{ url_for('static', filename='images/meditations.jpg') }}" alt="Meditations" class="book-image">
                        <h2 class="book-name book-desc">Meditations</h2>
                        <h2 class="book-author book-desc">Marcus Aurelius</h2>
                    </a>
                </div>
                <div class="book">
                    <a href="" class="book-link">
                        <img src="{{ url_for('static', filename='images/ontheshortness.jpg') }}" alt="On the Shortness of Life" class="book-image">
                        <h2 class="book-name book-desc">On the Shortness of Life</h2>
                        <h2 class="book-author book-desc">Anneus Lucius Seneca</h2>
                    </a>
                </div>
                <div class="book">
                    <a href="" class="book-link">
                        <img src="{{ url_for('static', filename='images/sherlock.jpg') }}" alt="Sherlock Holmes" class="book-image">
                        <h2 class="book-name book-desc">Sherlock Holmes: Series</h2>
                        <h2 class="book-author book-desc">Sir Arthur Conan Doyle</h2>
                    </a>
                </div>
                <div class="book">
                    <a href="" class="book-link">
                        <img src="{{ url_for('static', filename='images/thousand.jpg') }}" alt="Thousand Splendid Suns" class="book-image">
                        <h2 class="book-name book-desc">Thousand Splendid Suns</h2>
                        <h2 class="book-author book-desc">Khaled Hosseini</h2>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}